*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Merriweather', serif;
    background-color: #ebf2ff;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
}
.navbar__brand{
    width: 100px;
}
.navbar__logo{
    width: 100%;
}
.nav__item{
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
}
.nav__item:hover{
    border: 2px solid pink;
}
.hero__image__container{
    width: 100%;
}
.hero__image{
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
.hero__text{
    font-size: 30px;
    margin: 20px 0px;
}
.container{
    max-width: 100%;
    padding: 0px 20px;
    margin: 0px auto;
}
.button__primary{
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
}
.explore__menu__text, .restuarant__text{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;

}
.food__card{
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 15px;
}
.food__card__image{
    width: 100%;
}
.food__image{
    width: 100%;
    border-radius: 8px 8px 0px 0px;
}
.food__card__content{
    padding: 15px;
}
.restaurant__images__container{
    width: 100%;
}
.restaurant__images__row__one , .restaurant__images__row__two{
    width: 100%;
    display: flex;
    gap: 6px;
}
.restaurant__image__1, .restaurant__image__4{
    width: 100%;
    height: 100px;
}
.restaurant__images__row__one{
    align-items: baseline;
    margin-bottom: 6px;
}
.restaurant__image__2, .restaurant__image__3{
    width: 120%;
    height: 120px;
}
.restaurant__1, .restaurant__2, .restaurant__3, .restaurant__4{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.email__subscribe__input__field{
    display: flex;
    column-gap: 10px;
    align-items: baseline;
}
.email__text__input__field{
    background-color: #fcedf0;
    border: 1px solid #ee89a0;
    padding: 8px;
    width: 100%;
    color: black;
    font-weight: 700;
    border-radius: 6px;
}
.email__container{
    margin-top: 80px;
    margin-bottom: 80px;
}
.email__text__container{
    margin-bottom: 8px;
}
.email__text__input__field:focus{
    border: 1px solid #d8ce72;
    box-shadow: 0 0 3px #d8ce72;
    outline-offset: 0px;
    outline: none;
}
#email__button__id{
    padding: 12px 12px;
    font-weight: 700;
}
@media (min-width: 768px) {
    .navbar{
        justify-content: space-between;
        padding: 2px 30px;
    }
    .hero__container{
        margin-top: 20px;
        display:flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .explore__menu__lists{
        display: flex;
        gap: 15px;
        margin-top: 40px;
        padding: 0px 30px;
    }
    #pizza__card{
        margin-top: -15px;
        margin-bottom: 30px;
    }
    .explore__menu__view__more{
        display: flex;
        justify-content: center;
    }
    .explore__menu__container{
        position: relative;
        margin-top: 80px;
    }
    .explore__menu__gradient__bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
        );
        z-index: -3;
        transform: skewY(-5deg);
        margin-top: 10px;
    }
    .explore__menu__text{
        font-size: 50px;
    }
    .restaurant__container{
        display: flex;
        align-items: center;
        margin-top: 80px;
    }
    .restuarant__text{
        width: 100%;
        font-size: 40px;
    }
    .email__text__input__field{
        width: 320px;
    }
    .email__subscribe__input__field{
        justify-content: center;
    }
    .email__text__container{
        text-align: center;
    }
    .email__text{
        font-size: 40px;
    }
}
@media (min-width: 1020px){
    .navbar__brand{
        width: 150px;
    }
    .button__primary{
        padding: 20px;
        border-radius: 8px;
        font-size: 20px;
    }
    .hero__content__container{
        width: 100%;
    }
    .container{
        max-width: 900px;
    }
    .hero__text{
        font-size: 50px;
    }
    .explore__menu__lists{
        gap: 40px;
    }
    .restaurant__image__2, .restaurant__image__3{
        width: 120%;
        height: 200px;
    }
    .restaurant__image__1, .restaurant__image__4{
        width: 100%;
        height: 170px;
    }
    .email__text__input__field{
        width: 420px;
        padding: 10px;
    }
    .email__text__input__field{
        font-size: 17px;
    }
    #email__button__id{
        padding: 15px 15px;
    }
}
@media (min-width: 1400px){
    .container{
        max-width: 1250px;
    }
}